.app {
  font-family: Arial, sans-serif;
}

.form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form h1 {
  margin-top: 0;
  text-align: center;
}

.form input,
.form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form button:hover {
  background-color: #0056b3;
}

.books {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.book {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.book img {
  max-width: 100%;
  height: auto;
}

.delete,
.update {
  margin-top: 10px;
  padding: 6px 8px;
  background-color: #dc3545;
  color: #5e4747;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.update {
  background-color: #0de547;
}
.delete:hover{
  background-color: #c82333;
}
.update:hover {
  background-color: #5b77e7;
}

.addHome {
  margin-top: 20px;
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.addHome:hover {
  background-color: #218838;
}

.link {
  color: #007bff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
